<!--Products Display Component-->
<div>
  <div class="row">
    <ul class="col">
      <li *ngFor="let product of products">
        <img src="{{product.productImage}}" />
        <div class="sale-flag">
          <div class="sale {{product.isSale}}">Sale</div>
          <div class="exclusive {{product.isExclusive}}">Exclusive</div>
        </div>
        <div class="prod-details">

          <div ng-repeat="productName in productNames | orderBy: 'productName'" class="prod-name">
            {{product.productName }}
          </div>

           <div class="prod-price">
            {{product.price}}
          </div>
        </div>

      </li>
    </ul>

  </div>
</div>
